xml-2/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"></xs:element>
                <xs:element name="age" type="xs:int"></xs:element>
                <xs:element name="mark" type="xs:int"></xs:element>

            </xs:sequence>

        </xs:complexType>
    </xs:element>
</xs:schema>